<div class="page">
  <h1>Presenter Mode</h1>

  <div class="input-list">
    <mat-form-field>
      <mat-label>Room Name</mat-label>
      <input matInput [(ngModel)]="roomName" [disabled]="!!client" required #uxRoomName="ngModel"
        (focusout)="cleanRoomName()">
      <mat-error *ngIf="uxRoomName.hasError('required')">Required</mat-error>
    </mat-form-field>

  </div>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Settings
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="input-list">
      <mat-checkbox [(ngModel)]="audio">Audio</mat-checkbox>

      <mat-checkbox [(ngModel)]="handicapQuickPlayers">Handicap Quick Players</mat-checkbox>

      <mat-checkbox [(ngModel)]="hapticFeedback">Haptic Feedback</mat-checkbox>
    </div>
  </mat-expansion-panel>


  <br>
  <ng-container *ngIf="roomName">
    <button mat-raised-button color="primary" *ngIf="!client" (click)="connect()">
      create room
    </button>

    <ng-container *ngIf="!!client">
      <h2>Buzzers</h2>
      <div class="input-list">
        <button mat-raised-button [color]="enabled ? 'warn' : 'accent'" (click)="enabled = !enabled">
          {{enabled ? "disable" : "enable"}}
        </button>
      </div>
    </ng-container>
  </ng-container>

  <br>
  <br>
  <div *ngIf="!!client">
    <h2>Responses</h2>

    <div *ngIf="!enabled && !responses.length">Buzzers are disabled. Click "enable" to enable buzzers.</div>
    <div *ngIf="enabled && !responses.length">... Waiting for players</div>

    <div class="players">
      <div *ngFor="let singleResponse of responses" class="player-container">
        <button mat-raised-button color="warn" class="player-button"
          (click)="adjustPoints(singleResponse.contestant.name, -1)">-</button>

        <div class="player-name">
          ({{singleResponse.contestant.score}})
          <span *ngIf="handicapQuickPlayers">
            [+{{singleResponse.responseTimeDelta / 1000 |
            number:'1.1-1'}} : -{{singleResponse.contestant.averageResponseTimeDelta() / 1000 | number:'1.1-1'}}] -
          </span>
          {{singleResponse.contestant.name}}
        </div>

        <button mat-raised-button color="accent" class="player-button"
          (click)="adjustPoints(singleResponse.contestant.name, 1)">+</button>
      </div>
    </div>
  </div>


  <div *ngIf="!!client" class="scores">
    <h2>Scores</h2>
    <!-- 1 points -3.2s handicap - Elena -->
    <ol type="1">
      <li *ngFor="let singleContestant of sortedScores">
        {{singleContestant.score}} points
        <span *ngIf="handicapQuickPlayers">
          -{{singleContestant.averageResponseTimeDelta() / 1000 | number:'1.1-1'}}s handicap
        </span>

        - {{singleContestant.name}}
      </li>
    </ol>
  </div>

</div>