<div class="page">
  <div class="input-list">
    <mat-form-field>
      <mat-label>Room Name</mat-label>
      <input matInput [(ngModel)]="roomName" [disabled]="!!client" required #uxRoomName="ngModel"
        (focusout)="cleanRoomName()">
      @if (uxRoomName.hasError('required')) {
        <mat-error>Required</mat-error>
      }
      <mat-icon matPrefix>house</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Player Name</mat-label>
      <input matInput [(ngModel)]="playerName" [disabled]="!!client" required #uxPlayerName="ngModel">
      @if (uxPlayerName.hasError('required')) {
        <mat-error>Required</mat-error>
      }
      <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>

  @if (roomName && playerName) {
    @if (!client) {
      <button mat-raised-button color="primary" (click)="connect()">
        connect
      </button>
    }
    @if (!!client) {
      <button mat-raised-button color="primary" class="buzz-button" (touchstart)="attemptBuzz()"
        (click)="attemptBuzz()" [disabled]="buzzDisabled">
        @if (!buzzDisabled) {
          Buzz!
          <br><br>
          (space bar)
        }
        @if (buzzDisabled) {
          waiting for presenter to reset
        }
      </button>
    }
  }
</div>